// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.


// Colors
$blue: #005EB8;

// Custom Colors
$darkBlue: #00203E;
$lightGreen: #f1fff1;
$lightRed: #FAECEC;
